<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
  <title>About</title>  
</head>
<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #6dd5fa, #2e536b);
    color: white;
    text-align: center;
}
</style>
<body>
   {{>navbar}}

    <!-- main header  -->
    <div class="container-fluid main_header" >
      <div class="row">
          <div class="col-md-12 mx-auto">
              <div class="row">
                <!-- left side div  -->
                <div class="col-md-6 col-12 main_header_right align-items-center" >
                    <figure>
                      <img src="images/profile.png" alt="ProfilePicture" class="img-fluid" title="Atharva Nevgi">
                    </figure>
                </div>
                <!-- right side div  -->
                <div class="col-md-6 col-12 main_header_left">
                    <p>Hey There,</p>
                    <p>
                             I'm a BCA graduate with a passion for technology and development. 
                        With a solid foundation in programming languages like Python and DBMS, 
                        I am currently expanding my skills in HTML, CSS, and JavaScript through self-learning. 
                        I have a keen interest in back-end development and am on a journey to master the MERN stack 
                        to build dynamic web applications.
                    </p>
                    <p>
                        My professional experience spans over 3 years in the banking sector, 
                        where I developed strong problem-solving skills and attention to detail. 
                        This background helps me bring a unique perspective to the tech world, 
                        balancing both technical expertise and practical business knowledge.
                    </p>
                    <p>
                        Feel free to explore my work and get in touch—
                        I'm always open to new opportunities and collaborations!
                    </p>
                    <!-- social media links  -->
                    <a href="https://www.linkedin.com/in/atharvanevgi/" target="_blank">
                        <img src="images/linkedin.ico" alt="LinkedIn Logo" width="50" height="50" class="linkedin-logo"> 
                    </a>
                    <!-- Add the Gmail logo link -->

                    <!-- <a href="#" onclick="copyGmailId()">
                        <img src="images/Gmail.png" alt="Gmail Logo" width="20" height="20" class="gmail-logo">
                    </a> -->

                </div>
              </div>
          </div>
        </div>
    </div>
    <!-- footer  -->
     {{>footer}}
</body>
</html>