<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
  <title>Weather App</title>  
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    {{>navbar}}
    <!-- main header  -->
    <div class="container main_header" >
        <div class="row">
          <div class="col-md-10 col-10 mx-auto">
               <div class="main_content">
                    <div class="innerMain">
                        <div class="innerMain-upper">
                            <form action="temp_form">
                                <input type="text" id="cityName" placeholder="Enter City Name here" autocomplete="off">
                                <input type="submit" value="Search" id="submitButton">
                            </form>
                        </div>
                        <div class="tempInformation">
                            <div class="topLayer">
                                <p id="day">Sunday</p> 
                                <p id="today_data">13 OCT</p>
                            </div>
                        </div>
                        <div class="main_layer">
                            <p id="city_name"> Output </p>
                            <div class="middle_layer data_hide">
                                <p id="temp"><span id="temp_real_val">--</span><sup>o</sup>C</p>
                                <p id="temp_status"><i class="">--</i></p>
                            </div>
                        </div>
                    </div>
                </div> 
          </div>
        </div>
    </div>
    <!-- footer  -->
     {{>footer}}

    <script src="js/main.js"></script> 
    <script>
        const day = document.getElementById('day');
        const today_data = document.getElementById('today_data');

        // show date on the Weather App
        const getCurrentDay = ()=> {
          const weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
          let currentTime = new Date(); 
          const day = weekday[currentTime.getDay()];
          return day;
        };

        // show current date on weather App
        const getCurrentDate = () =>{
            const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            let now = new Date();
            let month = months[now.getMonth()];
            let date = now.getDate();
            const currentTime = `${date} ${month}`;
            return currentTime
        }

        day.innerHTML = getCurrentDay();
        today_data.innerHTML = getCurrentDate();
    </script>
</body>
</html>